page-kpi {
    ion-slider{
        background: red;
        height:200px;
    }
    ion-slides{
        height:330px;
    }
    .card-title{
        font-size: 2em;
    }
    .dc-card-2 {
        padding: 10px;
        text-align: left;
        min-height: 75px;
        .title{
            padding: 2px;
        }
        .content{
            font-size: 1.5em;
        }
       
    }
       
       .slide-title{
           font-size: 1.4em;
       } 


  
}



