page-kpi {
    background: #F4F4F5;
    ion-slider{
        background: red;
        height:180px;
    }
    ionc-card{
        
    }
    ion-slides{
        height:300px;
    }
    .card-title{
        font-size: 2em;
    }
    .dc-card{
        
        color:#fff;
        h3{color:#fff;}
        

background: #1e3c72; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

        margin-top:0px;
        padding: 25px;
        // padding-top:25px; 
        min-height: 110px;
    }
    .dc-card-2 {
        padding: 10px;
        text-align: left;
        min-height: 100px;
        background: #FFF;
        .title{
            padding: 2px;
            font-weight: bold;
             color: #737171;
        }
        .content{
            font-size: 2em;
            text-align: center;
            color: #D3D3D3;
    
        }
        .metric-icon{
            // background: url('assets/img/icon1.png');
            // background-position: 50% 50%;
            img{
                // display: block;
                margin: auto;
            }
        
        }
       
    }
       
       .slide-title{
           font-size: 1.3em;
           text-align: left;
           color: #737171;
           padding: 0px 5px;
       } 

       .nv-bars rect{
           width:10px;
       }

        
  
}



