page-kpi {
    margin-right: 0px;
    margin-left: 0px;
    $text-color:#fff;
    .kpi-page-area{
        height: 100%;
    .kpi-slides{
        height: 64%;
        ion-row{
            padding:0 2.5px 0 2.5px;
        }
    }
    }
    
    background: #F4F4F5;
    ion-slider{
        background: red;
        height:180px;
    }
    ionc-card{
        
    }
    ion-slides{

        //height:300px;
    }
    .card-title{
        font-size: 2em;
    }
    .silder-button-container{
        display: flex;
        justify-content: space-around;
    }
    .silder-button{
        padding:0 0.1em;
        font-size:1.2rem;
    }
    .dc-card{
        height: 23%;
        color:$text-color;
        h3{color:$text-color}
        background: #3898cf;
        margin-top:0px;
        padding: 25px;
        min-height: 110px;
    }
    .dc-card-2 {
        padding: 10px;
        text-align: left;
        border-radius: 5px;
        min-height: 100px;
        background: #FFF;
        .title{
            padding: 2px;
            font-weight: bold;
             color: #737171;
        }
        .content{
            font-size: 2em;
            text-align: center;
            color: #D3D3D3;
    
        }
        .metric-icon{
            // background: url('assets/img/icon1.png');
            // background-position: 50% 50%;
            img{
                // display: block;
                margin: auto;
            }
        
        }
       
    }
       
       .slide-title{
           font-size: 1.3em;
           text-align: left;
           color: #737171;
           padding: 0px 5px;
       } 

       .nv-bars rect{
           width:10px;
       }

        
  
}



